* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .container {
    height: 130%;
}

body {
    background-color: #252525;
    background-image: url(./img/fon.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1024px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 0;
}

nav > a {
    text-decoration: none;
    color: white;font-size: 0.9rem;
    margin: 0 10px;
    text-transform: uppercase;
}

main {
    height: 400px;
    text-align: center;
    color: white;
    padding-top: 150px;
}

h1 {
    font-size: 84px;
}

main > p {
    font-size: 1.1rem;
    width: 50%;
    margin: 0 auto;
    line-height: 1.2;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
}

main > a {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.maps {
    padding-top: 100px;
    padding-bottom: 60px;
}

footer {
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    padding: 42px 0;
    margin-bottom: 30px;
}

footer > p {
    font-size: 0.6rem;
    color: white;
}